@import (reference) "./base.less";
@import (reference) "./common.less";

// bekit中的功能是无UI的，需要手写样式
.b-toast {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .2s ease-in;
    width: 400px;
    padding: 20px;
    border-radius: @border-radius;
    text-align: center;
    color: @color-white;
    line-height: @line-height;
    &.active {
        opacity: 1;
    }
    .yicon {
        margin-right: .5em;
    }
    &-info {
        background-color: fade(@color-base, 60%);
        // TODO: 替换成对应的 icon
        .yicon:after {
            content: '\e600'
        }
    }
}

.b-confirm-mask {
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: @color-mask;
}
.b-confirm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: @border-radius-lg;
    width: 500px;
    padding: 60px 40px;
    text-align: center;
    line-height: 1;
    background-color: @color-white;
    &-title {
        margin-bottom: 20px;
        font-size: @fontsize-lger;
        color: @color-text-title;
    }
    &-message {
        display: inline-block;
        text-align: left;
        line-height: 1.5;
        margin: -6px 0;
    }
    &-input-container {
        position: relative;
        margin-top: 20px;
    }
    &-input {
        box-sizing: border-box;
        border: 0;
        width: 100%;
        height: 32px;
        line-height: $height;
        padding: 0 12px;
        font-size: @fontsize-base;
        background-color: @color-bg-input;
        // 解决chrome下自动填充表单引起的背景颜色变化问题
        box-shadow: 0 0 0px 1000px @color-bg-input inset;
        outline: 0;
        cursor: pointer;
        &-error {
            position: absolute;
            left: 0;
            top: 40px;
            font-size: 12px;
            color: @color-danger;
        }
    }
    &-footer {
        margin-top: 40px;
        .b-btn {
            .btn;
            &.b-btn-confirm {
                .btn.btn-primary;
            }
        }
        .b-btn + .b-btn {
            margin-left: 20px;
        }
    }
}
